.tong {
    width: 90%;
    padding: 1rem;

    margin: auto;
    background-color: #fff;

}

.top {

    width: 100%;

    display: flex;
    justify-content: space-between;
}

.chart {
    width: 100%;
    overflow-x: auto;

}

.charttron {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 25%;
    height: 500px;
}

.chartcot {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 65%;
    height: 500px;
}


.sinchart {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    /* width: 100% !important; */

    /* Thay đổi chiều rộng */
    height: 400px;
    /* Thay đổi chiều cao */
    margin: auto;
    /* Căn giữa */
}

.sinchart .line {
    background-color: rgba(255, 99, 132, 0.2);
    /* Màu nền của đường*/
    border-color: rgba(255, 99, 132, 1);
    /* Màu viền của đường */
    border-width: 2px;
    /* Độ dày của đường */
}



@media screen and (max-width: 960px) {


    .sinchart {
        height: 300px !important;
    }

}


@media screen and (max-width: 600px) {
    .sinchart {

        height: 250px !important;
    }
}