/* Cấu trúc container chính */



/* Lưới chứa các ghi chú */
.note-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  gap: 20px;
  padding: 10px
}

/* Kiểu dáng cho các mục ghi chú */
.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  width: 23%;
  height: 200px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Thêm hiệu ứng chuyển đổi màu và nổi lên */
  overflow: hidden;

  cursor: pointer;
  /* Ẩn phần tràn ra */
}

.noidungNote {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Số dòng muốn giới hạn */
  -webkit-box-orient: vertical;
  overflow: hidden;

  color: var(--color-primary2);
  opacity: 0.5;
  font-size: 0.85rem;
}

/* Thêm hiệu ứng thay đổi màu và nổi lên khi di chuột vào */
.note-item:hover {
  background-color: #007aff;
  /* Màu nền mới khi di chuột vào */
  transform: translateY(-10px);
  /* Nổi lên cao */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  /* Tăng bóng đổ */
}

/* Header của ghi chú */
.notes-header {
  display: flex;
  justify-content: flex-end;
}

.notes-header button {
  font-size: 24px;
  padding: 0.25rem 0.7rem;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
}

/* Kiểu dáng cho phần tiêu đề */
.note-item h2 {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  line-height: 1.3;
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Thêm dấu chấm lửng khi tràn */
  white-space: nowrap;
  /* Không xuống dòng */
}

/* Kiểu dáng cho nội dung */
.note-item p {
  line-height: 1.5;
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Thêm dấu chấm lửng khi tràn */
  display: -webkit-box;
  /* Hỗ trợ trình duyệt webkit */
  -webkit-box-orient: vertical;
  /* Thiết lập box orientation */
  -webkit-line-clamp: 3;
  /* Số dòng tối đa trước khi thêm dấu chấm lửng */
}

/* Kiểu dáng cho các liên kết */
.note-item a {
  display: inline-block;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: 500;
}

/* Tiêu đề ghi chú */
h2 {
  margin: 0;
}

/* Form để thêm ghi chú mới */





.note-form {
  text-align: right;
  margin-left: 20px;

}

/* Kiểu dáng cho nút lưu */
.note-form button {
  border-radius: 5px;
  background-color: #007aff;
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 150px;
  color: white;


}

/* Hiệu ứng hover cho nút lưu */
.note-form button:hover {
  background-color: #007aff;
  cursor: pointer;
}

.saveButton {

  top: 10px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--color-primary1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40;
  height: 40;
  transition: all 0.3s;
}

/* Hiệu ứng hover cho nút lưu (phần saveButton) */
.saveButton:hover {

  background: red;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* REPOnSIVE */


.deleteicon {
  position: fixed;
  /* điều chỉnh vị trí theo yêu cầu */
  /* điều chỉnh vị trí theo yêu cầu */
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.deleteicon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Media Queries */


/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .note-item {
    width: 30%;
    /* Adjust width for medium screens */
  }

}

@media (max-width: 992px) {
  .note-item {
    width: 45%;
    /* Adjust width for small screens */
  }
}

@media (max-width: 768px) {
  .note-item {
    width: 100%;
    /* Adjust width for very small screens */
  }
}

@media (max-width: 576px) {
  .note-item {
    width: 100%;
    /* Adjust width for mobile devices */
  }

  .note-form button {
    width: 100%;
    /* Make the save button full width on mobile devices */
  }

  .deleteicon {
    bottom: 20px;
    /* Adjust position for mobile devices */
    right: 20px;
    /* Adjust position for mobile devices */
  }

  .note-form {
    text-align: right;
    margin-left: 0;
    bottom: 10px;
  }
}