.app-container {
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .app-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin-top: 20px;
  }
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
}

.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  /* Border radius tương tự như card */
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  /* Box shadow tương tự như card */
  cursor: pointer;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  /* Thêm transition tương tự */
}

.note-item:hover {
  transform: translateY(-5px);
  /* Hiệu ứng transform tương tự */
  background-color: #268fff;
  /* Màu nền hover tương tự */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* Shadow hover tương tự */
}

.notes-header {
  display: flex;
  justify-content: flex-end;
}

.notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
}

h2 {
  margin: 0;
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

textarea,
input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

.note-form button {
  border-radius: 5px;
  background-color: #6eaaeb;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.note-form button:hover {
  background-color: #007aff;
  cursor: pointer;
}

.saveButton:hover {
  transform: translateY(-5px); /* Hiệu ứng transform tương tự */
  background-color: #268fff; /* Màu nền hover tương tự */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Shadow hover tương tự */
}
