:root {
    --size-line: 0px;
    --type-dash-border: 1px dashed rgba(0, 0, 0, 0.5);
}

.DraggableItem {
    position: absolute;
    /* (*IMPORTANT!) Nếu position:relative thì các thẻ sẽ có mối quan hệ với nhau
    nên khi resize, sẽ làm thay đổi vị trí, nhưng absolute thì mỗi phần tử là vùng riêng biệt*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 250ms ease;
    /*(*)Cho nó bao nội dung bên trong*/
    width: fit-content;


    /* >div:nth-child(2) {
        position: absolute;
        
        bottom: 0;

        height: 2px;
        background-color: var(--color-primary1);
    }
     */

    /* CSS cho button bên trong item */
    >button {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 1;
        appearance: none;
        outline: none;
        border: 0;
        padding: 0;
        /* background-color: #181a22; */

        background-color: transparent;
        border: 2px dashed #fff;
        /* padding: 0.75rem 0.75rem; */


        /* box-shadow: var(--box-shadow); */
        transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
        transition: box-shadow 300ms ease;
    }

    >button:hover::before {
        opacity: 0.6;
        content: "nhấn giữ để kéo";
        font-size: 0.75rem;
        position: absolute;
        bottom: -1.25rem;
        left: 1.15rem;
        width: fit-content;
        min-width: 6rem;
    }

    >button:hover::after {
        content: "";
        opacity: 0.4;
        width: 1.25rem;
        /* Đặt kích thước rộng */
        height: 1.25rem;
        /* Đặt kích thước cao */
        background-image: url('/public/imgs/all-directions.png');
        background-size: cover;
        /* Adjust as needed */
        margin-right: 8px;
        /* Adjust as needed */
        vertical-align: middle;
        /* Adjust as needed */
        position: absolute;
        bottom: -1.5rem;
        left: 0rem;
        opacity: 0.6;
    }

    &:not(.handle) {
        >button {
            touch-action: none;
            cursor: grab;

            &:focus-visible:not(.active &) {
                box-shadow: 0 0 0 3px #4c9ffe;
            }
        }
    }

    &.handle {
        >button {}
    }




    /* Trạng thái button đang kéo */
    &.dragging {
        z-index: 1;
        transition: none;

        * {
            cursor: grabbing;
        }

        >button {
            /*Ko scale sẽ khá giật*/
            --scale: 1.0001;
            /* --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01),
                0px 15px 15px 0 rgba(34, 33, 81, 0.25);

            &:focus-visible {
                --box-shadow: 0 0px 10px 2px #4c9ffe;
            } */
        }

        label {
            animation: none;
            opacity: 0;
        }
    }

    &.dragOverlay,
    &.dragging {
        >button {
            animation: pop 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
        }
    }
}

.IDraggableItemContainer .lineContainer {
    position: relative;

}

.IDraggableItemContainer .line {
    position: absolute;
    display: none;
}

.IDraggableItemContainer .line1 {
    bottom: calc(100%);
    left: 0;
    width: 1px;
    border-right: var(--type-dash-border);
    height: var(--size-line);

}

.IDraggableItemContainer .line2 {
    bottom: calc(100%);
    right: 0;
    width: 1px;
    border-right: var(--type-dash-border);
    height: var(--size-line);
}

.IDraggableItemContainer .line3 {
    top: 0;
    left: 100%;
    width: var(--size-line);
    border-bottom: var(--type-dash-border);
    height: 1px;
}

.IDraggableItemContainer .line4 {
    bottom: 0;
    left: 100%;
    width: var(--size-line);
    border-bottom: var(--type-dash-border);
    height: 1px;
}

.IDraggableItemContainer .line5 {
    top: 100%;
    right: 0;
    width: 1px;
    border-right: var(--type-dash-border);
    height: var(--size-line);
}

.IDraggableItemContainer .line6 {
    top: 100%;
    left: 0;
    width: 1px;
    border-right: var(--type-dash-border);
    height: var(--size-line);
}

.IDraggableItemContainer .line7 {
    bottom: 0;
    right: 100%;
    width: var(--size-line);
    border-bottom: var(--type-dash-border);
    height: 1px;
}

.IDraggableItemContainer .line8 {
    top: 0;
    right: 100%;
    width: var(--size-line);
    border-bottom: var(--type-dash-border);
    height: 1px;
}

.IDraggableItemContainer .line9 {
    bottom: 100%;
    right: 50%;
    width: 1px;
    border-right: var(--type-dash-border);
    height: var(--size-line);
    /* transform: translateX(-50%); */
}

.IDraggableItemContainer .line10 {
    top: 50%;
    left: 50%;
    width: var(--size-line);
    border-bottom: var(--type-dash-border);
    height: 1px;
}

.IDraggableItemContainer .line11 {
    top: 100%;
    right: 50%;
    width: 1px;
    border-right: var(--type-dash-border);
    height: var(--size-line);
    /* transform: translateX(-50%); */
}

.IDraggableItemContainer .line12 {
    top: 50%;
    right: 50%;
    width: var(--size-line);
    border-bottom: var(--type-dash-border);
    height: 1px;
}

/* Chỉ khi hover vào mới hiện line lên */
.IDraggableItemContainer .showLines {
    display: block;
}




@keyframes pulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(1);
    }

    100% {
        transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale));
        box-shadow: var(--box-shadow);
    }
}