.BookShelf {
    margin: 2rem 4rem;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 2rem;

}

.blackText {
    color: black;
}

.blueText {
    color: var(--color-primary1);
}

.menu {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.menu ul {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    width: 100%;
    text-align: center;
    color: var(--color-primary1);
    font-weight: 600;
}

.menu ul li:hover {
    color: var(--color-primary1);
}

.menu ul li.active {
    font-weight: bold;
    color: #fff;
    background-color: var(--color-primary1);

}

.book {
    /* Right - Bot */
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.03),
        -6px 10px 10px rgba(0, 0, 0, 0.03);
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 1rem 0.75rem;
}

.bookImgContainer {
    width: 100%;
    height: auto;
}

.imgbook {
    width: 100%;
    height: auto;
}

.bookContainer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: stretch;
    margin-bottom: 4rem;
}

.bookcard {
    width: 45%;

}



.bookShelfInformation {
    width: 45%;
    height: auto;
}


.btnreturn {
    display: flex;
    justify-content: flex-start;

}

.date {
    font-size: 0.8rem;
    color: #ccc;
}

.titleBookInfo {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-primary2);
    text-transform: capitalize;
}

.bookTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}


.btnborrowedOn button:hover,
.btnreturn button:hover {
    background-color: #fff;
    color: var(--color-primary1);
    border: 1px solid var(--color-primary1);
}

.activeButton {}

.show {
    display: block;
}



/* Responsive Design */
@media (max-width: 1200px) {
    .book {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .book {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .book {
        width: 100%;
        margin: 10px 0;
    }

    .BookShelf {
        margin: 1rem 2rem;
    }
}