.header {
    position: sticky;
    /* Dùng sticky để nó sẽ ăn theo thẻ cha relative chứa nó*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    padding-left: 1.5rem;

}

.headerOrigin {
    background-color: #fff;
}


.timeBox {
    background-color: var(--white1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10rem;
    padding: 0.25rem 1.75rem;
    max-height: 2.5rem;

}

.boxHour {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.boxDate {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.boxHour .time {
    font-family: 'DigitalFont', sans-serif;
    color: var(--color-primary2);
    text-transform: uppercase;
    font-size: 1.75rem;
}

.timeBox .boxDate p {
    font-family: 'DigitalFont', sans-serif;
    color: var(--color-primary2);
    text-transform: uppercase;
    font-size: 1.75rem;
}

@media screen and (max-width: 1120px) {
    .boxHour .time {
        font-size: 1.5rem;
    }

    .timeBox .boxDate p {

        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1060px) {
    .boxHour .time {
        font-size: 1.1rem;
    }

    .timeBox .boxDate p {

        font-size: 1.1rem;
    }

}