.clickbtn1 {
  flex: 1;
  /* Để nút co giãn theo kích thước */
  margin: 0 5px;
  /* Khoảng cách giữa các nút */
}

.clickbtn, .clickbtn1 {

  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clickbtn:hover, .clickbtn1:hover {
  background-color: #0056b3;
}

.tong {
  display: flex;
  flex-wrap: wrap;
  /* Cho phép xuống dòng khi hết chỗ */
  gap: 20px;
  /* Khoảng cách giữa các note */
  width: 97%;
  margin-left: 20px;
  margin-top: 20px;
}

.note {
  flex: 0 0 calc(20% - 20px);
  cursor: pointer;
  /* Chiếm 20% chiều rộng của container và trừ đi khoảng cách */
  border: 1px solid #ccc;
  padding: 1rem;
  height: 200px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;


  /* Số dòng tối đa trước khi thêm dấu chấm lửng */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

}

.note:hover {
  /* Màu nền mới khi di chuột vào */
  transform: translateY(-10px);
  /* Nổi lên cao */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  /* Tăng bóng đổ */
}

.btn2 {
  position: fixed;
  bottom: 70px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clickbtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



@media (max-width: 1200px) {
  .note {
    flex: 0 0 calc(25% - 20px);
    /* 4 cột trên hàng */
  }

  .btn2 {
    right: 50px;
  }

  .clickbtn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .note {
    flex: 0 0 calc(33.33% - 20px);
    /* 3 cột trên hàng */
  }
}

@media (max-width: 768px) {
  .note {
    flex: 0 0 calc(50% - 20px);
    /* 2 cột trên hàng */
  }

  .btn2 {
    bottom: 50px;
    right: 20px;
  }

  .clickbtn {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .note {
    flex: 0 0 calc(100% - 20px);
    /* 1 cột trên hàng */
  }
}




@media (max-width: 480px) {
  .btn2 {

    flex-direction: row;
    gap: 5px;
    margin-right: 10px;
  }

  .clickbtn {
    padding: 10px 8px;
    font-size: 10px;

  }
}