.GhiChuChiTiet {
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 5px;
    margin-top: 2rem;
    overflow-x: hidden;
    height: 400px;
}
.header{
    width: 100%;
    border: none;
    margin-bottom: 5px;
    color:black;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 400;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

.ButtonLuu{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #5496FA;
    color: #ffffff;
    position: absolute;
    bottom: 8rem;
    margin-left: 77%;
}
.ButtonLuu:hover{
    background-color: #0056b3;
}
/* khích thước điện thoại */
@media only screen and (max-width: 46.1875em) {
    .header{ font-size: 25px;height: 40px;}
    
    .GhiChuChiTiet {
        margin-top: 4rem;
        width: 90%;
        box-shadow: 0 0 10px #ccc;
        overflow-x: hidden;
        height: 700px;
        font-size: 20px;
      
    }
    .ButtonLuu{
        position: absolute;
        bottom: 3rem;
        /* float: right; */
        margin-left: 14rem;
    }
}
@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    .header{ font-size: 25px;height: 40px;}
    
    .GhiChuChiTiet {
        margin-top: 4rem;
        width: 90%;
        box-shadow: 0 0 10px #ccc;
        overflow-x: hidden;
        height: 750px;
        font-size: 20px;
      
    }
    .ButtonLuu{
        position: absolute;
        bottom: 3rem;
        /* float: right; */
        margin-left: 17rem;
        width: 200px;
    }
    

}
