.section1 {}

.imgBookContainer {
    width: 80%;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 7rem;
}

.imgBookContainer img {
    width: 100%;
    height: auto;
}

.titleBook {

    color: var(--color-primary2)
}

.ratingAndVote {}


.infoText .blurText {
    opacity: 0.6;
    color: var(--color-primary2);
    font-size: 1.25rem;
    font-weight: 500;

    color: var(--color-primary2);
}

.infoText .contentTextInfo {

    font-size: 1.2rem;
    color: #bebebe;
    opacity: 0.8;
    font-weight: 400;
    max-width: 16rem;
    text-wrap: wrap;
}

.infoText .contentTextInfo:hover {
    color: var(--color-primary1);
    cursor: pointer;
}

.infoText .cateItemListContent {
    text-decoration: none;
}

.infoText .cateItemListContent::after {
    content: ", ";
}

.infoText .cateItemListContent:last-child::after {
    content: "";
}

.publisher {
    width: 100%;
}

/* AUTHOR */
.authorInformation .titleAuthor span {
    font-weight: 500;
}

.authorInformation .titleAuthor span {
    color: var(--color-primary2)
}

.authorInformation .titleAuthor span:first-child {
    color: var(--color-primary1)
}