.cardContainer {
    position: relative;
    transition: 150ms ease-in-out;
    cursor: pointer;
    border-radius: 1rem;
    overflow: hidden;
}

.bookcard {
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    border-radius: 1rem;
    filter: blur(0rem);
    transition: 200ms ease-in-out;
}

.cardContainer:hover {
    border: 1px solid var(--color-primary2);

}

.cardContainer:hover>.bookcard {
    filter: blur(1.5rem);
}

.cardContainer .cover {

    border-radius: 1rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0);

    transition: 200ms ease-in-out;
    opacity: 0;

}

.cardContainer .cover .circleBtnContainer {
    display: flex;
    gap: 0.5rem;
}

.cardContainer:hover>.cover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}


.cardContainer .circleBtn {
    background-color: #fff;
    width: 2rem;
    height: 2.6rem;
    font-size: 1.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-primary2);
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.cardContainer .circleBtn:hover {
    background-color: var(--color-primary2);
    color: #fff;

}





.contentContainer {
    text-align: left;
    padding: 0.25rem;
}

.cardImg {
    width: 100%;
}

.cardImg img {
    aspect-ratio: 1/1.4;

}

.title {
    text-transform: capitalize;
    color: var(--color-primary2);
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 500;
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn các phần của văn bản không vừa */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi cần */
}

.author {
    text-transform: capitalize;
    color: var(--color-primary2);
    font-size: 11px;
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn các phần của văn bản không vừa */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi cần */
}

.releaseYear {
    padding-right: 0.25rem;
    color: var(--color-primary2);
    font-size: 11px;
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn các phần của văn bản không vừa */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi cần */
}

.rating {

    color: var(--color-primary2);
    font-size: 11px;
}