.cardUserRank {
    width: 25%;
    border-radius: 8px;
    padding: 0.5rem 0.35rem;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05), -5px 0 8px rgba(0, 0, 0, 0.05), 0 5px 8px rgba(0, 0, 0, 0.05);
}

.cardUserRank:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Mobile */
@media screen and (max-width: 576px) {
    .cardUserRank {
        width: 100%;
    }
}