.TrangOnTap {
    display: flex;
}

.documentList {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    /* chỉnh 3D nhìn cho đẹp xíu */
    width: 25%;

    padding: 20px;
    /* Thêm padding để nội dung không sát viền */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính vào chiều rộng */
    margin: 20px;
    max-height: 75vh;
    overflow-x: hidden;;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.ButtonHTT {
    display: flex;
    justify-content: center; /* Căn giữa button */
    margin-top: auto; /* Đẩy button xuống cuối */
}

.ButtonHTT button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.tieude {
    font-size: 25px;
}

.notecard {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 95%;

    padding: 10px;
    /* Thêm padding để nội dung không sát viền */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính vào chiều rộng */
    margin: 10px;
    transition: all 0.2s linear;
}

.notecard:hover {
    transform: scale(1.1);
}

.notecard:hover>.card :not(:hover) {
    filter: blur(10px)
}

.titlenote {
    font-size: 15px;
}

.ndnote {
    font-size: 12px;
}


.OnTapChiTiet {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    width: 70%;
    padding: 20px;
    /* Thêm padding để nội dung không sát viền */
    margin: 20px;
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính vào chiều rộng */
}

.dateContainer {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dateContainer .h2 {
    width: 20%;
    margin: auto;
}

.dateContainer .date {
    margin: auto;
}

.img {
    max-width: 5%;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.fonderdate {
    border-bottom: 1px solid #c9c5c5;
    display: flex;
    max-width: 100%;

}

.contentEditable {
    width: 100%;
    min-height: 40vh;
    height: 418px;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    overflow-x: hidden;
    white-space: pre-wrap;
    min-height: 150px;
}

.contentEditable:focus {
    border-color: #c9c5c5;
    /* Màu border khi focus */
}

.buttonlon {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
}

.Buttonnho {
    width: 125px;
    height: 35px;
    background-color: #5496FA;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

/* khoa dep chai */
/* qua dep luon */
.Buttonnho:hover {
    /* dùng chuyển màu khi đưa trỏ vào nút nhấn*/
    background-color: #0056b3;
}

.ButtonHT:hover {
    background-color: #0056b3;
}

.buttonKQ {
    text-align: center;
    bottom: 0;
    width: 100%;

    padding: 10px;
    background-color: #fff;
    text-align: center;

}

.ButtonHT {
    width: 130px;
    height: 35px;
    background-color: #5496FA;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.ButtonHTgt{
    width: 130px;
    height: 35px;
    background-color: #5496FA;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.BTHTT{
    /* position: relative; */
    text-align: center;
    position: absolute;
    bottom: 1rem;
    right: 0.3rem;
    width: 100%;
}
@media only screen and (max-width: 46.1875em) {
    .OnTapChiTiet{
        width: 100%;
    }
    .TrangOnTap{
        flex-direction: column;
    }

    .documentList{
        position: unset;
    }

    .TrangOnTap .documentList{
        display: flex;
        padding-bottom: 4rem;
        width: 100%;
        max-height: 247px;
        overflow-x: hidden;
        
    }
    
    .OnTapChiTiet {
        width: 100%;
    }

    .img {
        max-width: 15%;
    }

    .Buttonnho {
        width: 20%;
        height: 60px;
    }
    .contentEditable {
        width: 100%;
        height: 500px;
        padding: 10px;
        margin-top: 20px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        overflow-x: hidden;
        white-space: pre-wrap;
        min-height: 150px;
    }
    .BTHTT{
       position: unset;
        text-align: center;
        
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
   
    .OnTapChiTiet{
        width: 100%;
    }
    .TrangOnTap{
        flex-direction: column;
    }

    .documentList{
        position: unset;
    }

    .TrangOnTap .documentList{
        display: flex;
        padding-bottom: 4rem;
        width: 100%;
        max-height: 247px;
        overflow-x: hidden;
        
    }
    .contentEditable {
        width: 100%;
        height: 500px;
        padding: 10px;
        margin-top: 20px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        overflow-x: hidden;
        white-space: pre-wrap;
        min-height: 150px;
    }
    .BTHTT{
       position: unset;
        text-align: center;
        
        bottom: 0;
        width: 100%;
    }


    .OnTapChiTiet {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding: 20px;
        /* Thêm padding để nội dung không sát viền */
        margin: 20px;
        box-sizing: border-box;
        /* Đảm bảo padding và border được tính vào chiều rộng */
    }

    .contentEditable {
        width: 100%;
        height: 650px;
        padding: 10px;
        margin-top: 20px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        overflow-x: hidden;
        white-space: pre-wrap;
        min-height: 150px;
    }

    .img {
        max-width: 10%;
    }

    .Buttonnho {
        width: 20%;
        height: 40px;
    }
}