.TrangOnTap {
    display: flex;
}

.documentList {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 30%;

    padding: 10px;
    /* Thêm padding để nội dung không sát viền */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính vào chiều rộng */
    margin: 20px;
    max-height: 75vh;
    overflow-y: auto;

}


.tieude {
    font-size: 25px;
}

.notecard {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 95%;

    padding: 10px;
    /* Thêm padding để nội dung không sát viền */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính vào chiều rộng */
    margin: 10px;
}

.titlenote {
    font-size: 15px;
}

.ndnote {
    font-size: 12px;
}


.OnTapChiTiet {

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 70%;
    padding: 10px;
    /* Thêm padding để nội dung không sát viền */
    margin: 20px;
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính vào chiều rộng */
}

.dateContainer {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dateContainer .h2 {
    width: 20%;
    margin: auto;
}

.dateContainer .date {
    margin: auto;
}

.img {
    max-width: 5%;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.fonderdate {
    border-bottom: 1px solid #c9c5c5;
    display: flex;
    max-width: 100%;

}

.contentEditable {
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    overflow: auto;
    white-space: pre-wrap;
    min-height: 150px;
}

.contentEditable:focus {
    border-color: #c9c5c5;
    /* Màu border khi focus */
}

.buttonlon {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
}

.Buttonnho {
    width: 80px;
    height: 80px;
    background-color: #5496FA;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}


.Buttonnho:hover {
    /* dùng chuyển màu khi đưa trỏ vào nút nhấn*/
    background-color: #969c96;
}

.buttonKQ {
    text-align: center;
    bottom: 0;
    width: 100%;

    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;

}

.ButtonHT {
    width: 130px;
    height: 35px;
    background-color: #5496FA;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

@media only screen and (max-width: 46.1875em) {
    .documentList {
        display: none;

    }

    .OnTapChiTiet {
        width: 100%;
    }

    .img {
        max-width: 15%;
    }

    .Buttonnho {
        width: 20%;
        height: 60px;
    }

}

@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {

    .img {
        max-width: 10%;
    }
}